@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

#player {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ffffff;
}

#box {
  height: 280px;
}

#box h5 {
  font-weight: 500;
}

#musicBox {
  margin-left: 100px;
  display: none;
  background: rgb(235 235 235);
  width: 320px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid #dbdbdb;
  box-shadow: 8px 3px 8px #f3f3f3;
}

#musicBox img {
  width: 100%;
  height: 180px;
}

#musicSlider {
  width: 100%;
  height: 4px;
  cursor: pointer;
}

#overlay {
  width: 100%;
  height: 180px;
  background: linear-gradient(24deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 44%) 54%);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#overlay img {
  width: 130px;
  height: 160px;
  margin-left: 13px;
  z-index: 1;
  filter: drop-shadow(2px 4px 6px black) !important;
}

.playOptions {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playOptions button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b3b3b;
  cursor: pointer;
}

.playOptions ion-icon {
  font-size: 20px;
}

#loop ion-icon {
  font-size: 23px;
}

#playOrPause ion-icon {
  font-size: 45px !important;
}

.volumeBar {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 68px;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: #f3f3f3e0;
  padding: 3px 6px;
  border-radius: 2px;
  transform: rotate(270deg);
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.volumeBar input {
  width: 60px;
  height: 4px;
  cursor: pointer;
}

.volumeBar ion-icon {
  color: #363636;
  font-size: large;
  margin-bottom: -5px;
}

#musicBox:hover .volumeBar {
  visibility: visible;
  opacity: 1;
}

#searchBar {
  width: 100%;
  outline: none;
  padding: 11px 35px 11px 10px;
  border-radius: 30px;
  border: none;
  background: #fff;
  transition: 0.3s;
}

#searchBar:focus {
  border: none;
}

.stickySearchBar {
  position: sticky;
  padding: 5px 10px;
  margin-bottom: 17px;
  top: 0px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 8px 3px 8px #f3f3f3;
  background: #fff;
  z-index: 1;
  display: flex;
}

#search {
  font-size: large;
  position: absolute;
  right: 14px;
  top: 15px;
  color: #000000bd;
}

#musicList::-webkit-scrollbar {
  display: none;
}

#songPlayers {
  width: 290px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 8px 3px 8px #f3f3f3;
  color: #4c5262;
  overflow: hidden;
  margin-right: 15px;
}

#musicList {
  height: 83vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.musicsLi {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
  font-size: smaller;
}

.musicsLi img {
  width: 57px;
  height: 50px;
  list-style: none;
  border-radius: 6px;
  filter: drop-shadow(2px 4px 6px rgb(190, 190, 190));
}

#nav {
  position: absolute;
  top: 0px;
  right: 3px;
  padding-top: 9px;
  display: flex;
  align-items: center;
}

#nav li {
  list-style: none;
  padding: 7px 16px;
  font-size: 11px;
  background: #ffffff;
  margin-right: 13px;
  border: 3px solid #ccc;
  box-shadow: 8px 3px 8px #f3f3f3;
  cursor: pointer;
}

#menu {
  display: none;
  position: absolute;
  top: 6px;
  right: -35px;
  padding: 0px !important;
  font-size: 21px !important;
  background: rgb(255, 255, 255) !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 6px !important;
  margin-right: 15px !important;
  color: #585858 !important;
}

#closeMenu {
  display: none;
  font-size: 21px;
  margin-top: 6px;
  margin-right: 5px;
  color: #585858;
}

#message {
  display: none;
  margin: 17px;
  text-align: center;
  margin-top: 95px;
}

#navHeader {
  display: flex;
  align-items: center;
}

#navHeader ion-icon {
  margin-right: 5px;
  font-size: large;
  color: #56e6ff;
}
